/*                                                   -*- c -*-
   System Documentation HTML presentation stylesheet.
   Copyright 2000 Symbian Ltd.
 */


/* Overall page styles */

body {
  background-color: white;
  color: black;
}

body, .Bodytext, p, td, th, ul, ol, li, dl, dt, dd,
.Head1, .Head2, .Head3, h1, h2, h3, h4, h5, h6 {
  font-family: arial, lucida, helvetica, verdana, sans-serif;
  font-size: 10pt;
}

a:link    { color: #0000cc; }
a:visited { color: #663399; }
a:active  { color: #ff9900; }
a:hover   { color: #ff9900; }


/* Areas in the navigation table */

.breadcrumbNav,
.breadcrumbNav a:link, .breadcrumbNav a:visited {
  color: #006699;
}
.breadcrumbNav a:link, .breadcrumbNav a:visited {
  text-decoration: underline;
}
.breadcrumbNav {
  margin: 0.0em;
  padding: 0.0em;
  text-align: left;
  font-weight: bold;
}
.breadcrumbNav .separator {
  color: #ff9900;
}

.DocSetBox {
  background-image: none;
  background-color: #006699;  /* Symbian Blue */
  color:            #aaccee;  /* Lightish blue */
}

.DocSetBox p {
  font-family: meta, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0.5em;
}

.LogoBox { border-bottom: solid #ff9900 2px; }

.DocSetBox p a:link,
.DocSetBox p a:visited
{
  color: white;
  text-decoration: none;
}

.ButtonBox {
  background-color: white;  /* contrast with dark-blue image text */
  color:            black;  /* for imageless people */
  /*
   Background image must be defined separately in each file due to
   widespread lack of standards compliance in UAs.
  */
}

.ButtonBox p,
.DocSetBox p
{
  margin-top:     0em;
  margin-bottom:  0em;
  padding-top:    1px;
  padding-bottom: 1px;
}


.copyrightStatement {
  font-size: 12px;
}


/* Ordinary items in the main area */

h1, h2, h3, h4, h5, h6 {
  font-family: arial, lucida, helvetica, verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
  color: #333333;
  padding-left: 0.1em;
}
h1 { font-size: 180%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; } 
h4 { font-size: 100%; padding-left: 0em; }
h5 { font-size: 100%; padding-left: 0em; }
h6 { font-size: 100%; padding-left: 0em; }

.Head1 { margin-left: 0%; }
.Head2 { margin-left: 3%; }
.Head3 { margin-left: 6%; }
.Bodytext { margin-left: 9%; margin-right: 2%; }

code, pre, .CodeBlock, tt, kbd, samp {
  font-family: courier new, courier, lucida console,
               lucida typewriter, monospace;
}


/* Blocks of special information */

.Structure, .CodeBlock, .Prototype, .Instructions, .Process, .Concept,
.Guideline, .DataDescription, .Classification, .Example
{
  padding: 0.33em;
  border: solid white 1px; /* Netscape 4.x workaround. */
  background-color: #dddddd;
  display: block;
  width: 100%;
  margin-right: 1%;
}


.CodeBlock,
.Prototype
{
  border: solid white 1px;
  background-color: #dddddd;
}


/* CodeBlocks in blue boxes want to be blue too. */

.Structure       .CodeBlock,
.Instructions    .CodeBlock,
.Process         .CodeBlock,
.Concept         .CodeBlock,
.Guideline       .CodeBlock,
.DataDescription .CodeBlock,
.Classification  .CodeBlock,
.Example         .CodeBlock
{
  background-color: #cccccc;
  border: solid #dddddd 1px;
}


/* Tables. It would be nice to have the cell and border colours adapt
to whatever the background colour is rather than just being grey. */

td.Cell {
  background-color: white;
  color: black;
  text-align: left;
}

th.Cell {
  background-color: #eeeeee;
  color: black;
  text-align: left;
  font-weight: bold;
}

.TableWrap, .ValueTableWrap {
  background-color: #aaaaaa;
  color: white;
}

/* Figures */

/* This was messing up IE5's tables...
.Figure {
  margin-left: 5%;
  margin-right: 5%;
}
*/

.Figure .Caption, .Figure .Image, .RelatedItems .Image {
  text-align: center;
}

.Caption {
  font-style: italic;
}


/* Other */

.unresolvedLink {
  color: #ff0000;
  background-color: #ffddbb;
}


/* Glossary layout */

/*
.Glossary dd p,
.Glossary dd ul,
.Glossary dd ol
{ margin: 0.5em; }
*/

/*
.Glossary dd,
{
   margin-top: 1.0em;
}
*/

.Glossary dt { margin-top: 1.5em; }

